<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M - %replace(span_id: %X{MDC_SPAN_ID}){'span_id: $', ''} %replace(trace_id: %X{MDC_SPAN_ID}){'trace_id: $', ''} %msg%n
      </pattern>
    </encoder>
  </appender>

  <appender name="LOG_FILE" class="ch.qos.logback.core.FileAppender">
    <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
      <providers>
        <timestamp>%d{ISO8601}</timestamp>
        <message/>
        <loggerName/>
        <context/>
        <mdc/>
        <layout>
          <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M - %replace(span_id: %X{MDC_SPAN_ID}){'span_id: $', ''} %replace(trace_id: %X{MDC_SPAN_ID}){'trace_id: $', ''} %msg%n
          </pattern>
        </layout>
      </providers>
    </encoder>
    <file>C://logs/reservation-app.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${LOGS_HOME}/app-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
      <maxHistory>7</maxHistory> <!-- Number of retained log files -->
    </rollingPolicy>
  </appender>

  <logger name="james.reactive.web" additivity="false" level="info">
    <appender-ref ref="LOG_FILE"/>
    <appender-ref ref="STDOUT"/>
  </logger>
  <root level="INFO">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>
