:host {
  display: grid;
  grid-template-areas:
    'header     login-state'
    'user-list  chat-area'
    'user-list  chat-input'
    'angular-route angular-route'
    'tutorial tutorial-list';
  border: 1px solid black;
  grid-template-columns: 1fr 3fr;
  gap: 50px;
}

.login-state {
  grid-area: login-state;
  display: flex;
  align-items: center;

  > * {
    margin: 16px;
  }
}

.header {
  grid-area: header;
}

.user-list {
  grid-area: user-list;
  padding: 15px;

  mat-list-item.current-user {
    background-color: beige;
    font-weight: bold;
  }

  p {
    font-weight: bold;
  }
}

.chat-area {
  grid-area: chat-area;

  mat-card {
    max-width: 400px;

    &.current-user {
      background-color: beige;
    }
  }
}

.chat-input {
  grid-area: chat-input;
  margin-right: 10PX;
  mat-form-field {
    display: block;
    max-width: 432px;
  }
}

.tutorial-list {
  grid-area: tutorial-list;
  display: block;
  align-items: center;

  > * {
    margin: 16px;
  }
}

.angular-route {
  grid-area: angular-route;
  display: block;
  align-items: center;

  > * {
    margin: 16px;
  }
}

.angular-route h3 {
  text-align: center;
}