<p>learning-css works!</p>
<div class="inheritance">
    <div>
        <p>
            Outside text
            <em>Emphasized words</em>
        </p>
    </div>
    <div class="control-inherit">
        <p>Control Inherit example</p>
    </div>
    <div class="inherit-all">
        <a href="">Inherit Link Example</a>
    </div>
    <div class="unset-all">
        <a href="">Unset Link Example (underline style comes from the browser style sheet, not from the parent. 
            So that underline is removed and the color goes back to what the parent was)</a>
            <br>
        <p>Unset paragraph</p>
    </div>
    <div class="revert-example">
        <p>Revert paragraph</p>
    </div>
    <div class="initial-example">
        <p>Initial stylle paragraph</p>
    </div>
</div>